body {
    font-family: "verdana";
    margin: 1rem;
}

h1 {
    font-size: 1.5rem;
}

form {
    /* --size is a CSS Variable.  Read:
     * CSS Variables: Why Should You Care (https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care)
     * Using CSS Variables: (https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables)
    */
    --size: 275px;
    width: var(--size);
}

label, input, select, button {
    display: block;
    width: 100%;
    font-size: 1.5rem;
}

button {
    padding: 1rem;
    border: none;
}

.save {
    background-color: hsl(140, 50%, 50%);
    transition: all 0.2s;
    color: white;
    font-weight: 700;
}
.save:hover {
    background-color: hsl(140, 50%, 60%);
}

.save-status {
    display: none;
    text-align: center;
}

input, select {
    margin-bottom: 1rem;
}

.role-preview {
    /* What is --size?  Check the form properties near the top of this page */
    width: var(--size);
    height: var(--size);
    margin-bottom: 1rem;
}
