@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans";
    margin: 1rem;
}

h1 {
    font-size: 1.5rem;
}

form {
    max-width: 20rem;
}

label, input, select, button {
    display: block;
    width: 100%;
}
label {
    font-size: 0.75rem;
}

input[type=submit] {
    background-color: hsl(140, 50%, 50%);
    transition: all 0.2s;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
}
input[type=submit]:hover {
    background-color: hsl(140, 50%, 60%);
}

input, select {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

select {
    background-color: #fff;
}

.img {
    width: 100%;
    margin-bottom: 1rem;
}
