@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
    padding: 1rem;
}

h1 a {
    text-decoration: none;
    color: #000;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    max-width: 20rem;
    padding: 1rem;
}

span, p {
    color: #5a5a5a;
}

span {
    display: block;
    margin-top: 0.5rem;
    font-weight: 700;
}

img {
    display: block;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

form {
    max-width: 20rem;
}

input, label, textarea {
    display: block;
    width: 100%;
}

input, textarea {
    margin-bottom: 1rem;
}

textarea {
    resize: none;
    height: 4rem;
}

input[type="submit"] {
    background-color: hsl(120, 50%, 50%);
    color: white;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
}

